<%= button_to "Create New User", register_path, method: :get %>

<section class="existing-users">
  <% if current_user %>
    <h3>Existing Users:</h3>
      <% @users.each do |user| %>
        <%= user.email %>
      <% end %>
  <% end %>    
</section>   


